name: Build OpenCO2_Sensor

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - uses: arduino/compile-sketches@v1
        with:
          fqbn: "esp32:esp32:esp32s2"
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
              version: 3.1.0
          libraries: |
            - name: Adafruit DotStar
            - name: Sensirion Core
            - name: Sensirion I2C SCD4x
            - name: WiFiManager
            - name: esp32-waveshare-epd
              source-path: ./esp32-waveshare-epd
          sketch-paths: |
            - .